@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }
    }
}

@media (max-width: 767px) {
    .app {
        &__banner {
            grid-template-columns: 300px auto;
            img:nth-child(1) {
                    display: none;
                }
            &-text {
                font-size: 22px;
                line-height: 28px;
                padding-left: 0px;
                padding-top: 20px;
            } 
        }
    }
}


@media (max-width: 575px) { 
    .app {
        &__banner {
            padding: 4px 51px 24px 52px;
            grid-template:100px 46px / 209px;
            grid-auto-flow: dense;
            height: 174px;
            text-align: center;
            justify-items: center;
            img{
                order: -1;
            }
            &-text {
                order: 1;
                padding-top: 0;
                font-size: 20px;
                line-height: 23px;
            }
        }
    }
}
