@import '../../style/variables.scss';



.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;
    }
    &__item {
        width: 200px;
        height: 318px;
        background-color: $dark;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        &_selected {
            box-shadow: 0 5px 20px $main-color;
            transform: translateY(-8px);
        }
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity  500ms ease-in;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: all 500ms ease-in;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
    }
    .button__mobile {
        display: none;
    }
}


@media (max-width:1200px) {
	.char {
		&__content {
			grid-template-columns: 650px 285px;
			column-gap: 15px;
		}
		&__grid {
			grid-template-columns: repeat(3, 200px);
			column-gap: 20px;
			row-gap: 30px;
		}
	}
}

@media (max-width:991px) {
    .char{
        &__grid{
            grid-template-columns: repeat(2, 200px);
        }
        &__content{
            grid-template-columns: 450px 285px;
        }
    }
}


@media (max-width: 767px) { 
    .char{
        &__content{
            display: block;
        }
        &__grid {
            grid-template-columns: repeat(3, 160px);
            column-gap: 15px;
        }
        &__item {
            padding: 0;
            width: 150px;
            height: 220px;
            img {
                width: 150px;
                height: 150px;
                transform: none;
            }
            &_selected {
                box-shadow: none;
                transform: none;
            }
        }
        &__name {
            margin-top: 12px;
            font-weight: 500;
            font-size: 17px;
            line-height: 18px;
            text-align: center;
        }
    }
}

@media (max-width: 575px) { 
    .char{
        &__content{
            display: block;
        }
        &__grid {
            grid-template-columns: repeat(2, 150px);
            column-gap: 12px;
        }
        &__item {
            padding: 0;
            width: 150px;
            height: 220px;
            img {
                width: 150px;
                height: 150px;
                transform: none;
            }
            &_selected {
                box-shadow: none;
                transform: none;
            }
        }
        &__name {
            margin-top: 12px;
            font-weight: 500;
            font-size: 17px;
            line-height: 18px;
            text-align: center;
        }
    }
  
    
}
