@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

@media (max-width:1200px) {
    .app {
       width: 950px;
        .bg-decoration{
            bottom: 0;
            right: 0;
        }
        &__header{
            justify-content:space-between;
        }
    }
}

@media (max-width: 991px) {
    .app {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .app {
        width: 500px;
    }
}


@media (max-width: 575px) { 

}
