@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

@media (max-width:1200px) {
    .app {
       width: 950px;
        .bg-decoration{
            bottom: 0;
            right: 0;
        }
        &__header{
            justify-content:space-between;
        }
    }
}

@media (max-width: 991px) {
    .app {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .app {
        width: 500px;
        padding: 28px 0 48px 0;
    }
    .char__content .char__info {
        display: none;
    }
    .char{
        &__search-form {
            display: none;
        }
    }
    main {
        margin-top: 30px;
    }
}


@media (max-width: 575px) { 
    .app {
        width: 312px;
        padding: 48px 0 48px 0;
    }
    .active{
        background-color: $main-color;
        color: white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
    }
    .bg-decoration{
       display: none;
    }
    .button__long {
        display: none;
    }
    main {
        margin-top: 28px;
        position: relative;
    }
    .char__content .char__info {
            display: none;
    }
    .single-char{
        &__back {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }
    a {
        &:hover {
            color: white;
        }
    }
    

}
