@import '../../../style/variables.scss';

.single-char {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    &__img {
        width: 293px;
        height: 293px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}

@media (max-width:1200px) {

    .single-char {
        grid-template-columns: 293px 480px auto;
    }
}



@media (max-width:991px) {
    .single-char {
        grid-template-columns: 234px 360px auto;
        column-gap: 30px;
        img {
            max-width: 234px;
            max-height: 234px;
        }
        &__descr {
            font-size: 16px;
            line-height: 22px;
        }
        &__back {
            margin: 28px 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            &__img{
                margin-right: 12px;
                height: 18px;
                transform: translateY(2px);
            }
        }
    }
}

@media (max-width: 575px) { 
    .single-char {
        display: block;
        text-align: center;
        img {
            max-width: 180px;
            max-height: 180px;
        }
        &__descr {
            font-size: 16px;
            line-height: 22px;
        }
        &__back {
            margin-bottom: 28px;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            &__img{
                margin-right: 12px;
                height: 18px;
                transform: translateY(2px);
            }
        }

    }
}