@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: $main-color;
        }
    }
    &__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        column-gap: 6px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        &__link{
            margin: 0 auto;
        }
    }
}
@media (max-width: 767px) { 
    .app {
        &__title {
            text-align: center;
        }
        &__header {
            display: block;
        }
        &__menu {
            margin-top: 5px;
            grid-template-columns: repeat(2, 20%) ;
            justify-content: center;
        }
    }
}

@media (max-width: 575px) { 
    .app {
        &__title {
            line-height: 33px;  
        }
        &__menu {
            grid-template-columns: repeat(2, 1fr) ;
            margin-top: 16px;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
            line-height: 40px;
            font-size: 16px;
            background: #FFFFFF;
            border-radius: 20px;
            &__link{
                text-align: center;
                width: 100%;
            }         
        }
    }
}
