@import '../../style/variables.scss';

.randomchar {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    // align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    &__block {
        padding: 40px 35px;
        display: grid;
        grid-template-columns: 180px auto;
        column-gap: 30px;
    }
    &__img {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
    &__info {
        display: grid;
        grid-template-rows: minmax(29px, auto) 90px 38px;
        row-gap: 10px;
        padding-top: 3px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 14px;
        line-height: 18px;
    }
    &__btns {
        display: flex;
        justify-content: center;
        a:nth-child(1) {
            margin-right: 30px;
        }
    }
    &__static {
        padding: 40px 35px;
        background-color: $dark;
        position: relative;
        button {
            margin-top: 13px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.045em;
        color: #FFFFFF;
        &-mobile {
            display: none;
        }
        &:nth-child(3) {
            margin-top: 33px;
        }
    }
    &__decoration {
        position: absolute;
        bottom: 14px;
        right: 30px;
    }
}

@media (max-width:1200px) {
    .randomchar {
        grid-template-columns: 55% 45%;
        grid-template-rows: 280px;
        &__title{
            font-size: 22px;
            line-height: 30px;
        }
        &__info{
            grid-template-rows: minmax(29px, auto) 106px 38px;
        }
        &__name{
            font-size: 20px;
            line-height: 27px;
        }
        &__static{
            .button{
                margin-top: 41px;
            }
        }
    }
}


@media (max-width:991px) {
    .randomchar {
        grid-template-columns: 60% 40%;
        &__block {
            padding: 40px 35px;
            grid-template-columns: 160px auto;
            column-gap: 20px;
        }
        &__img {
            width: 160px;
            height: 160px;
        }
        &__decoration{
            display: none;
        }
        &__title{
            font-weight: 500;
            font-size: 20px;
        }
        &__btns {
            a:nth-child(1) {
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 767px) { 
    .randomchar {
        display: block;
        &__static{
            padding: 20px 35px;
            text-align: center;
            .button {
                margin-top: 0;
                width: 150px;
            }
        }
        &__block{
            padding: 16px 36px 32px 36px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        &__descr {
            width: 217px;
            text-align: center;
        }
        &__img {
            width: 180px;
            height: 180px;
            margin-top: 5px;
        }
        &__title-mobile {
            margin-top: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: white;
        }
        &__name{
            margin-top: 10px;
        }
        &__title {
            display: none;
            &-mobile{
                display: block;
                color: #232222;
                margin-bottom: 12px;
                font-weight: 700;
            }
        }
        &__info {
            justify-content: center;
        }
    }
}

@media (max-width:575px) {
    .randomchar {
        display: block;
        &__static{
            padding: 20px 35px;
            display: block;
            text-align: center;
            .button {
                margin-top: 0;
                width: 150px;
            }
        }
        &__title-mobile {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
            color: white;
        }
        &__name{
            margin-top: 10px;
        }
        &__title {
            display: none;
            &-mobile{
                display: block;
                color: #232222;
                margin-bottom: 12px;
                font-weight: 700;
            }
        }
        &__block{
            padding: 16px 36px 32px 36px;
            display: block;
            text-align: center;
        }
    }
}